<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Mapping an, aber mit Wildcard für nuget.org -->
	<packageSourceMapping enabled="true">
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>

	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!-- Offline-Pakete optional: -->
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files\dotnet\NuGetFallbackFolder" />
	</packageSources>
</configuration>